.profile_picture > img {
    max-width: 100%;
    max-height: 100%;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.profile_picture {
    height: 8em;
    width: 8em;
}

/* .cut_corners {
    min-width: 150%;
    padding-right: 30px;
    padding-left: 30px;
    background: #58a;
    border-width: 15px;
    corner-shape: bevel;
} */
