html {
  font: 100% system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.flexNavigation {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.toggleCreate {
  display: flex;
  justify-content: flex-end;
}

.toggleCreate a {
  border: 1px solid black;
  background: black;
  color: white;
  text-align: center;
  height: 59px;
  width: 59px;
  border-radius: 99999px;
}

@media only screen and (min-width: 40em) {
  html {
    overflow: hidden;
  }

  .fullPage {
    display: flex;
    flex-direction: row;
  }

  .flexNavigation {
    position: webkit-sticky;
    position: sticky;
    top: -1;
    width: 100px;
    padding-right: 10px;
    padding-left: 10px;
    flex-direction: column-reverse;
  }

  .toggleCreate {
    align-self: flex-end;
  }

  header {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
  }

  main {
    flex-grow: 2;
    flex-shrink: 1;
    box-sizing: border-box;
  }
}
