.main_container {
  background-color: #DAE0E6;
  font-size: 15px;
  font-family: -apple-system, system-ui;
  display: grid;
  grid-template-rows: 100px [main-start] 1fr;
}

main {
 flex: 1;
 grid-row-start: main-start;
}

main > div {
   border-radius: 20px;
}

header {
  width: 275px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
