.accountPage {
  display: grid;
  grid-template-columns: [nav-start] 20vw [main-start] 60vw [main-end] 20vw;
  grid-template-rows: [main-start] 300px 50vh;
}

.accountNavigation {
  flex-direction: column;
  grid-row-start: main-start;
  grid-column-start: nav-start;
  color: inherit;
}

.accountNavigation > ul > li > span > a {
  color: inherit;
}

.accountMain {
  grid-column-start: main-start;
  grid-row-start: main-start;
  margin: auto;
  margin-top: 0px;
  padding-top: 0px;
}

.accountMain > h1 {
  margin: 0;
}
