.accountPage {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.accountNavigation {
  flex-direction: column;
  color: inherit;
  width: 30%;
  box-sizing: border-box;
}

.accountNavigation > ul > li > span > a {
  color: inherit;
}

.accountMain {
  grid-column-start: main-start;
  grid-row-start: main-start;
  margin: auto;
  margin-top: 0px;
  padding-top: 0px;
  width: 60%;
}

.accountMain > h1 {
  margin: 0;
}
