.navigation > li {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.31;
  padding: 1.31em;
  color: black;
}

.navigation {
  display: flex;
  align-items: center;
  background-color: black;
}

.menuItem {
  color: white;
  text-transform: uppercase;
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(top,#efd100,#e2a233 19%,#f0c328 30%,#fff1a3 43%,#ffe13e 50%,#fff 51%,#fff);
	background-size: 1em 2.5em;
  padding-left: 1em;
  padding-right:1em;
}

a {
  color: inherit;
  text-decoration: none;
}

li > a:hover {
  color: inherit;
}

.navigation {
  box-sizing: border-box;
  width:100%;
}

header, header>div>ul {
    background-color: white;
    box-shadow: 0 0.03rem 0.1rem 0 rgba(0,0,0,0.2);
    border: 1px solid rgba(221,221,221,0.15);
    box-sizing: border-box;
    width: 50vw;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    height: 48px;
    z-index: 36;
}
