.navItem {
  /* layout */
  padding: 10px 1%;
  margin: 3px 0 0;
  /* text-transform: uppercase; */
  text-align: center;
  box-sizing: border-box;
  width: 25%;
  cursor: pointer;

  /* style */
  border: 1px solid #666;
  color: #FFFFFF;
}

.navItem a {
    text-decoration: none;
    font-size: 1.2em;
    color: inherit;
}

.authNav {
  /* layout */
  display: flex;
  box-sizing: border-box;
  list-style-type: none;
  width: 100%;
  height: 100%;

  /* styles */
  background-color: hsl(350, 75%, 50%);
}

.icon {
  font-family: 'IcoMoon' !important;
  font-size: 20px;
  speak: none;
}

#listMainNav {
  display: none;
}

#bookmarksMainNav {
  display: none;
}

#messagesMainNav {
  display: none;
}

@media only screen and (min-width: 40em) {
  .authNav {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .navItem {
    width: 100%;
    border: none;
  }

  #listMainNav {
    display: block;
  }

  #bookmarksMainNav {
    display: block;
  }

  #messagesMainNav {
    display: block;
  }
}

@media only screen and (min-width: 1265px) {
  #landingMainNav::after {
    content: 'Landing';
    font-family: sans-serif;
  }

  #homeMainNav::after {
    content: 'Home';
    font-family: sans-serif;
  }

  #userMainNav::after {
    content: 'Profile';
    font-family: sans-serif;
  }

  #listMainNav::after {
    content: 'Lists';
    font-family: sans-serif;
  }

  #messagesMainNav::after {
    content: 'Messages';
    font-family: sans-serif;
  }

  #bookmarksMainNav::after {
    content: 'Bookmarks';
    font-family: sans-serif;
  }

  .navItem {
    text-align: left;
  }
}

/* @media only screen and (min-width: 57em) {
  .authNav {
    width: 20vw;
  }

  .navItem {
    width: 100%;
  }

  #landingMainNav::after {
    font-family: sans-serif;
    content: 'Landing';
  }

  #userMainNav::after {
    font-family: sans-serif;
    content: 'User';
  }

  #homeMainNav::after {
    font-family: sans-serif;
    content: 'Home';
  }
} */
