.navItem {
  font-family: 'IcoMoon' !important;
  font-size: 20px;
  speak: none;
  border: 1px solid #666;
  background-color: #eee;
  padding: 10px 1%;
  margin: 3px 0 0;
  /* text-transform: uppercase; */
  text-align: center;
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  cursor: pointer;
}

.navItem a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

.authNav {
  display: flex;
  box-sizing: border-box;
  list-style-type: none;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 40em) {
  .authNav {
    flex-direction: column;
  }

  .navItem {
    width: 100%;
  }
}
