.createMessage > .footer {
  display: flex;
  align-items: center;
  border: 1px solid;
  height: 40%;
  padding-left: 1em;
  padding-right: 1em;
}

.formatMessage {
  flex: 1.5 1 auto;
}

.sendMessageBtn {
  margin-right: 1em;
}

.createMessage > form {
  height: 100px;
}

.createMessage > .header {
  height: 10%;
}

.createMessage > .body {
  height: 50%;
}

.createMessage {
  padding-left: 5vw;
  /* display: flex;
  flex-flow: column; */
}

.createMessage > .body > textarea {
  resize: none;
  font-family: inherit;
  height: 100%;
}

.createMessageContainer {
  display: flex;
  height: 10em;
  width: 50em;
  /* border: 1px solid rgba(221,221,221,0.15); */
  background-color: white;
  box-shadow: 0 0.03rem 0.1rem 0 rgba(0,0,0,0.2);
  padding: 1em;
  color: black;
  margin-bottom: 2em;
}
