.createComment {
  display: flex;
  border-radius: 99px;
  padding-top: 20px;
  padding-bottom: 10px;
  justify-content: space-around;
}

.reply {
  height: 300px;
  width: 450px;
  border: 1px solid black;
  color: black;
}

.createCommentFooter {
  display: flex;
}

.commentCharsLeft {
  color: black;
}

.scrollable {
  overflow-y: scroll;
}

.createCommentLightbox {
  position: absolute;
  z-index: 3;
  top: 30%;
  margin: auto;
  background-color: white;
  max-width: 600px;
}

.overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.8);
}
