.container {
  display: flex;
  max-width: 100%;
  padding-top: .5em;
  padding-bottom: .3em;
  padding-left: 3%;
  margin-bottom: .5em;
  border-bottom: .5px solid hsla(0, 50%, 100%, .5);
  color: inherit;
}

.icon {
  font-family: 'IcoMoon' !important;
  font-size: 20px;
  speak: none;
  cursor: pointer;
}

.avatarContainer {
  flex-basis: 60px;
  flex-grow:0;
  flex-shrink:0;
  min-height:150px;
  z-index: 0;
}

.messageContainer {
  padding-left: 1em;
  padding-right: 1em;
  flex-basis:60%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messageFunctions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* height: 30%; */
}

.messageBody {
  margin-top: .3em;
  flex-grow: 3;
}

.lightbox {
  z-index: 3;
  position: relative;
}

/* Create Message Styles */

.createContainer {
  display: none;
  /* max-width: 600px; */
  width: 100%;
  height: 15%;
}

.createBody {
  width: 75%;
  height: 75%;
}

.createBody form {
  padding-left: 3%;
  padding-right: 3%;
  height: 100%;
}

.createBody textarea {
  max-width: 100%;
  height: 100%;
}

.createFooter {
  display: flex;
}

/* Container Styles */

.messageList {
  /* max-width: 600px; */
  width: 100%;
  height: 100%;
  padding-bottom: 20vh;
}

.messagesScrollContainer {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

/* Media Queries */

@media only screen and (min-width: 40em) {
  .createContainer {
    display: block;
  }

  .messageList {
    padding: 0;
  }
}
